
@{
    ViewBag.Title = "Homepage - Authenticated";
}

<br /><br />
<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Please wait for the administrator to approve your newly created account. Check back at another time!</p>
</div>
