@using BetMatch.Models.User;
@model List<UserModel>
@{
    ViewBag.Title = "List All Users";
}
<br /><br />
<table id="tbl_BetFeed" border="1" width="100%">
    <tr><th colspan="6" style="text-align:center">User List</th></tr>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @foreach (UserModel user in Model)
    {
        <tr>
            <td>@user.FullName</td>
            <td>@user.Email</td>
        </tr>
    }
</table>