<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://betmatch.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>betmatch.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BetMatch</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BetMatch</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <!--<ObjectGroup Name="SQLConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:betmatch.database.windows.net,1433;Initial Catalog=BetMatch;User ID=BetMatchUser@betmatch.database.windows.net;Password=Webr4draP6eC" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:betmatch.database.windows.net,1433;Initial Catalog=BetMatch;User ID=BetMatchUser@betmatch.database.windows.net;Password=Webr4draP6eC" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>-->
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:betmatch.database.windows.net,1433;Initial Catalog=BetMatch;User ID=BetMatchUser@betmatch.database.windows.net;Password=Webr4draP6eC" Name="Data Source=tcp:betmatch.database.windows.net,1433;Initial Catalog=BetMatch;User Id=BetMatchUser@betmatch.database.windows.net;Password=Webr4draP6eC" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BetMatch.Models.ApplicationDbContext, BetMatch" MigrationConfiguration="BetMatch.Migrations.Configuration, BetMatch" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:betmatch.database.windows.net,1433;Initial Catalog=BetMatch;User Id=BetMatchUser@betmatch.database.windows.net;Password=Webr4draP6eC</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>